*{
    margin: 0;
}

.first{
    height: 100vh;
    width: 33vw;
    background-color: green;
    display: inline-block;
}

.second{
    height: 100vh;
    width: 33vw;
    background-color: orange;
    display: inline-block;
    margin-left: 32vw;
}