*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
}

.container{
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    background-color: black;
    display: flex;
    align-items: center;
}

.box{
    height: 150px;
    width: 150px;
    background-color: orange;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    /* animation-name: boxing;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-direction:alternate;     */
    animation: boxing 3s linear 1s 1 alternate; 
}



@keyframes boxing {
    0%{
        transform: translate(0vw,0vh);
    }
    25%{
        transform: translate(30vw,-30vh);
    }
    50%{
        transform: translate(60vw, 0vh);
    }
    75%{
        transform: translate(30vw,30vh);
    }
    100%{
        transform: translate(0vw,0vh);
    } 
}


